/*
  VARIABLES
*/
:root {
  --main-orange: #e8702a;
  --main-teal: #05a7b6;
  --main-yellow: #febf50;
}

/*
  SHARED
*/
h1{
  font-family: dazzle-unicase, sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

.grid{ display: grid;}

/*
  HOME SCREEN IMAGE SECTION CUSTOM
*/

.site-menu li a{
  font-weight: 400;
}

.imageH3 {
  color: #fff;
  font-weight: 300;
  margin-bottom: .5em;
}

.site-navigation {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.home-logo{
  height: 75px;
}

.home-video-link{
  margin-bottom: 3em;
}

.hero-p{
  color: #fff;
  font-weight: 200;
}

.hero-link{
  color: #fff;
  font-size: 18px;
}

.hero-link:hover{
  font-weight: 400;
}

/*
  HOME SCREEN CARDS CUSTOM
*/
.card-img{
  height: 15em;
  object-fit: cover;
}

/*
  HOME MATCH AD
*/

.index-match-ad{
  color: white;
}

/*
 CONTACT
*/
.form-contact-container{
  display: grid;
  grid-auto-flow: column;
}

.form-contact-container div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body.form-contact{
  color: #000;
}

input.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

input.form-control.form-contact:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

input.form-control.form-contact::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

.form-contact .form-control{
  border-bottom: 1px solid #000 !important;
}

/*
  SHARED
*/

h2{
  color: white;
  font-family: dazzle-unicase, sans-serif !important;
}

.bg-orange{
  background-color: var(--main-orange);
}

.bg-teal{
  background-color: var(--main-teal);
}

.bg-yellow{
  background-color: var(--main-yellow);
}

.bg-yellow p{
  color: #000;
}

.card {
  border-radius: 12;
  object-fit: cover;
}

.site-footer{
  padding: 40px 0;
}

a.mt-2{
  margin-top: 0 !important;
}

.btn{
  border-radius: 6px;
  background-color: white;
  color: var(--main-teal);
}

.site-nav{
  padding-top: 8px;
  padding-bottom: 8px;
  /*position: sticky; DEAL WITH THIS LAST*/
}

.subheading {
  color: white;
}

.m-md-5{
  margin: 3rem 0 !important;
}

.mb-5{
  color: white;
}

.more-info-section p{
  color: black;
}

.section-contact h2{
  color: black;
}


/*
  ABOUT SCREEN CUSTOM
*/
.about-hero h1{
  font-size: calc(3rem + 1.5vw);
}

.about-container{
  width: 65%;
  text-align: center;
}

/*
  MISSION SCREEN CUSTOM
*/
.mission-container{
  width: 100vw;
  height: 90vh;
  min-height: 700px;
  top: 0;
  overflow: visible;
}

.mission-container h1, 
.mission-container h3{

  padding: 0 40px;
}

.mission-container svg{
  margin-top: 50%;
  width: 100vw;
  height: 600px;
  position: absolute;
}
.mission-diagonals{
  margin-top: 10%;
  -ms-transform: rotate(-70deg);
  /* IE 9 */
  -webkit-transform: rotate(-70deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-70deg);
  overflow: visible;
}

.mission-text-container{
 margin-top: 65%;
 height: 550;
}

.mission-footer-padding {
  padding: 15vw 0 40px !important;
}