/*
  VARIABLES
*/
:root {
  --main-orange: #e8702a;
  --main-teal: #05a7b6;
  --main-yellow: #febf50;
}

/*
  SHARED
*/
h1{
  font-family: dazzle-unicase, sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

.grid{ display: grid;}

/*
  HOME SCREEN IMAGE SECTION CUSTOM
*/

.site-menu li a{
  font-weight: 400;
}

.imageH3 {
  color: #fff;
  font-weight: 300;
  margin-bottom: .5em;
}

.site-navigation {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.home-logo{
  height: 75px;
}

.home-video-link{
  margin-bottom: 3em;
}

.hero-p{
  color: #fff;
  font-weight: 200;
}

.hero-link{
  color: #fff;
  font-size: 18px;
}

.hero-link:hover{
  font-weight: 400;
}

/*
  HOME SCREEN CARDS CUSTOM
*/
.card-img{
  height: 15em;
  object-fit: cover;
}

/*
  HOME MATCH AD
*/

.index-match-ad{
  color: white;
}

/*
 CONTACT
*/
.form-contact-container{
  display: grid;
  grid-auto-flow: column;
}

.form-contact-container div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body.form-contact{
  color: #000;
}

.section-contact .btn{
  color:white !important;
}

input.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

input.form-control.form-contact:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

input.form-control.form-contact::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

.form-contact .form-control{
  border-bottom: 1px solid #000 !important;
}

/*
  SHARED
*/

h2{
  color: white;
  font-family: dazzle-unicase, sans-serif !important;
}

.bg-orange{
  background-color: var(--main-orange);
}

.bg-teal{
  background-color: var(--main-teal);
}

.bg-yellow{
  background-color: var(--main-yellow);
}

.bg-yellow p{
  color: #000;
}

.card {
  border-radius: 12;
  object-fit: cover;
}

.site-footer{
  padding: 40px 0;
}

a.mt-2{
  margin-top: 0 !important;
}

.btn{
  border-radius: 6px;
  background-color: white;
  color: var(--main-teal) !important;
}

.site-nav{
  padding-top: 8px;
  padding-bottom: 8px;
  /*position: sticky; DEAL WITH THIS LAST*/
}

.subheading {
  color: white;
}

.m-md-5{
  margin: 3rem 0 !important;
}

.mb-5{
  color: white;
}

.more-info-section p,
.more-info-section span,
.more-info-section h2{
  color: black;
}

.section-contact h2,
.section-contact .form-control::placeholder{
  color: black;
}

/*
  EVENT SCREEN CUSTOM
*/



/*
  ABOUT SCREEN CUSTOM
*/
.about-hero h1{
  font-size: calc(3rem + 1.5vw);
}

.about-container{
  width: 65%;
  text-align: center;
}

/* MISSON SCREEN CUSTOM */
.mission-container {
  width: 100vw;
  height: 60vh;
  margin-top: 30vh;
  padding: 0px;
  min-height: 650px;
  display: grid;
}

.mission-container-reverse{
  width: 100vw;
  display: grid;
  height: 60vh;
  margin-top: 30vh;
  padding: 0px;
  min-height: 650px;
}

.mission-container h1, 
.mission-container h3, 
.mission-container-reverse h1,
.mission-container-reverse h3 {
  color: white;
  width: 100%;
  height: auto;
  z-index: 99;
}

.mission-container svg,
.mission-container-reverse svg { 
  position: absolute;
  width: 100vw;
  height: 90vh;
  min-height: 650px;
  overflow: visible;
  left: 0;
}

.mission-container-reverse svg {
  left: -10vw;
}

/* mission dog images */
.mission-img-container{
  position: absolute;
  left: 40px;
  visibility: hidden;
}

.mission-img-container img{
  width: 30vw;
  margin-top: -12vh;
}

.mission-reverse-img-container {
  position: absolute;
  right: 40px;
  visibility: hidden;
}

.mission-reverse-img-container img{
  width: 55vw;
  height: auto;
  margin-top: -15vh;
}

/* mission like images */
.mission-img-like-container{
  right: 40px;
}

.mission-img-like-container img{
  margin-top: -6vh;
  margin-right: 6vw;
}

.mission-img-like-container-reverse {
  left: 90px;
}

.mission-img-like-container-reverse img {
  margin-top: -12vh;
  margin-right: 6vw;
}

.mission-img-like-container img,
.mission-img-like-container-reverse img{
  width: 15vw;
}

.mission-img-like-container,
.mission-img-like-container-reverse  {
  position: absolute;
  visibility: hidden;
}

.mission-main {
  position: relative;
  height: 550px;
  margin: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* mission media queries */
@media (min-width: 576px) {}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  /* mission dog images */
  .mission-container img,
  .mission-container-reverse img{
    visibility: visible;
  }

  .mission-container .mission-main{
    margin: 40px 40px 40px 25vw;
  }

  .mission-container-reverse .mission-main{
    margin: 40px 20vw 40px 45px;
  }

  /* mission like images */
    .mission-img-like-container,
    .mission-img-like-container-reverse {
    visibility: visible;
  }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
  .mission-img-like-container img,
  .mission-img-like-container-reverse img {
    width: 12vw;
  }

  .mission-img-like-container-reverse img {
    margin-left: 6vw;
  }

  .mission-img-container{
    left: 8vw;
  }

  .mission-reverse-img-container{
    right: 200px;
  }

  .mission-img-container img {
    width: 27vw;
    margin-top: -20vh;
  }

  .mission-reverse-img-container img{
    margin-top: -20vh;
  }

  .mission-reverse-img-container{
    width: 45vw;
    right: 18vw;
    margin-top: -11vh;
  }

  .mission-main h1{
    font-size: 3.5rem !important;
  }

  .mission-container .mission-main{
    margin: 40px 8vw 40px 30vw;
  }
  .mission-container-reverse .mission-main {
    margin: 0px 30vw 40px 8vw;
  }
  
  .mission-container {
    height: 90vh;
    margin-top: 35vh;
  }
}